<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>
  <img alt="Start Young UK Logo" id="logo" src="/img/StartYoungUKLogo.png"></img>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="onBoarding">Onboarding</a></li>
      <li><a href="refferals">Referals</a></li>
      <li><a href="buddy">Become A Buddy</a></li>
      <li><a href="donations">Make a Donation</a></li>
      <li><a href="staffLogin">Staff Log in</a></li>
      <li><a href="contact">Contact Us</a></li>
    </ul>
  </nav>
<html lang="en-gb">

<head>
  <meta charset="UTF-8">

  <!-- meta tags for Internet Explorer and mobile devices -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- meta tags data for good SEO -->
  <title>Start young UK Contact page </title>
  <meta name="description"
    content=" This website contains the contact information for Start young UK">

  <!-- your stylesheet and any other styling code, e.g. google fonts -->
  <link rel='stylesheet' href='stylesheets/style.css' /

</head>

<h3>Fill in the details below and we will get back to you as soon as we can</h3>
<section id="Contact_Form" class="contact-form container">
  <div class="container">
    <form>
  
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="firstname" placeholder="Your name..">
  
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="lastname" placeholder="Your last name..">
  
      <label for="Email">Email</label>
      <input type="text" id="email" name="Email1" placeholder="Your Email..">

      <label for="Phone_number">Phone Number</label>
      <input type="tel" id="phone_number" name="PhoneNum" placeholder="Your UK phone number..">

  
      <label for="Message">Message</label>
      <textarea id="message" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit" onclick="sendPost()">
  
    </form>
    <p>
    <section id="contact" class="contact-me container">
        <div class="Contact_details">
            <h2>Contact us NOW</h2>
            <p>  Newham, UK</p>
            <p>  07946369885</p>
            <p>  Startyoung21@gmail.com</p>
            <p>  Charity Number 1196028</p>
        </div>
        <script src="Javascript/time.js"></script>
        <script src="Javascript/queryRequests.js"></script>
      </p>
    <footer class="footer">
      <p id="footertitle">Start Young UK</p>
      <p>Copyright © 2022 All rights reserved</p>
    </footer>
  </div>
