<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>
<img alt="Start Young UK" id="logo" src="https://static1.s123-cdn-static-a.com/uploads/5628538/400_filter_nobg_618e6671070c4.png"></img>
<html lang="en-gb">

<head>
  <meta charset="UTF-8">

  <!-- meta tags for Internet Explorer and mobile devices -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- meta tags data for good SEO -->
  <title>Start young UK Contact page </title>
  <meta name="description"
    content=" this exercise will be containing responive Web design. while containing a About me section and a topic of my choosing which i will go over with a few original images">

  <!-- your stylesheet and any other styling code, e.g. google fonts -->
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

</head>



<nav class="page-nav">
  <ul>
    <li><a href="#Contact_me">Contact Me</a></li>
  </ul>
</nav>


<section id="Contact_Form" class="contact-form container">
  <div class="container">
    <form action="action_page.php">
  
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="firstname" placeholder="Your name..">
  
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="lastname" placeholder="Your last name..">
  
      <label for="Email">Email</label>
      <input type="text" id="Email" name="Email1" placeholder="Your Email..">

      <label for="Phone_number">Phone Number</label>
      <input type="tel" id="Phone_number" name="PhoneNum" placeholder="Your UK phone number..">

  
      <label for="Message">Message</label>
      <textarea id="Message" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
    <Footer>
    <section id="contact" class="contact-me container">
        <div class="container-content">
            <h2>Contact Me</h2>
            <p>help</p>
            <h3> Our Contact details</h3>
            <p>  Newham, UK</p>
            <p>  07946369885</p>
            <p>  Startyoung21@gmail.com</p>
            <p>  Charity Number 1196028</p>
        </div>
        <script src="Javascript/time.js"></script>
    </Footer>
  </div>
