<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <img alt="Start Young UK Logo" id="logo" src="/img/StartYoungUKLogo.png"></img>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="contact">Onboarding</a></li>
        <li><a href="contact">Referals</a></li>
        <li><a href="contact">Become A Buddy</a></li>
        <li><a href="contact">Make a Donation</a></li>
        <li><a href="contact">Staff Log in</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
    </nav>
    <h2>Make a Donation</h2>
    <div id="donate">
        <img src="/img/donate.png">
      </div>
  </body>
  <footer class="footer">
    <p id="footertitle">Start Young UK</p>
    <p>Copyright © 2022 All rights reserved</p>
  </footer>
</html>
