<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img alt="Start Young UK Logo" id="logo" src="/img/StartYoungUKLogo.png"></img>
    <nav>
      <ul>
        <li><a href="contact">Onboarding</a></li>
        <li><a href="contact">Referals</a></li>
        <li><a href="contact">Become A Buddy</a></li>
        <li><a href="contact">Make a Donation</a></li>
        <li><a href="contact">Staff Log in</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
    </nav>

    <div id="header-image-menu">
      <img src="/img/banner.png">
      <h2 id = "image-text">
          A Basic Web Design course by GeeksforGeeks
      </h2>
  </div>

    <p>Hello UKCI Team!</p>
    <p> heelo peeps </p>
  </body>
</html>
