<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img alt="Start Young UK" id="logo" src="https://static1.s123-cdn-static-a.com/uploads/5628538/400_filter_nobg_618e6671070c4.png"></img>
    <nav>
      <ul>
        <li><a href="contact">Onboarding/Referals</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
    </nav>
    <p>Hello UKCI Team!</p>
    <p> heelo peeps </p>
  </body>
</html>
