<!DOCTYPE html>
<html lang="en-gb">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- meta tags for Internet Explorer and mobile devices -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- meta tags data for good SEO -->
    <title>Start young UK Contact page </title>
    <meta name="description" content=" This website contains the contact information for Start young UK">

    <!-- your stylesheet and any other styling code, e.g. google fonts -->
    <link rel='stylesheet' href='stylesheets/style.css'>
</head>

<body>
    <img alt="Start Young UK Logo" id="logo" src="/img/StartYoungUKLogo.png"></img>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="contact">Onboarding</a></li>
            <li><a href="contact">Referals</a></li>
            <li><a href="contact">Become A Buddy</a></li>
            <li><a href="contact">Make a Donation</a></li>
            <li><a href="contact">Staff Log in</a></li>
            <li><a href="contact">Contact Us</a></li>
        </ul>
    </nav>
    <button onclick="getQueries()">click for Queries</button>

    <h3>Fill in the details below and we will get back to you as soon as we can</h3>
    <section id="queryForms">
    </section>
    <section id="contact" class="contact-me container">
        <div class="Contact_details">
            <h2>Contact us NOW</h2>
            <p> Newham, UK</p>
            <p> 07946369885</p>
            <p> Startyoung21@gmail.com</p>
            <p> Charity Number 1196028</p>
        </div>
        <script src="Javascript/time.js"></script>
        <script src="Javascript/queryRequests.js"></script>
        <footer class="footer">
            <p id="footertitle">Start Young UK</p>
            <p>Copyright © 2022 All rights reserved</p>
        </footer>
        </div>

    </section>

</body>

</html>