body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*HOME PAGE*/
a {
  color: #00B7FF;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
#header-image-menu{
  top: 0.05rem;
  position: relative;
}
#header-image-menu img{
  width: 100%;
  margin: none;
  padding: none;
  height: 34rem;
}
#image-text{
  position: absolute;
  top: 50%;
  left: 70%;
  font-family: 'Arial';
  color: #000;
  transform: translate(-30%, -30%);
  text-align: center;
  font-size: 5rem;
}
h2{
  text-align: center;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e92084;
}
#about{
  text-align: center;
}
#list{
  padding-left: 2rem;
}
footer{
  color: #000000;
  padding: 0.5rem;
  background-color: #f2f2f2;
  font-size: 0.8rem;
  padding-left: 1rem
}
#footertitle{
  font-size: 1.2rem;
}
/*NAVIGATION*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%; 
  display: inline-block;
}
li {
  float: left;
  position: relative;
  left: 33%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #e92084;
}
/*CONTACT PAGE*/
input[type=text],input[type=tel], select, textarea {
  width: 100%; 
  padding: 13px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical
}
input[type=submit] {
  background-color: #0ecbec;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #e92084;
}